.for-hallticket-main{
    background-color: rgb(52, 173, 173);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.hallticket{
    background-color: #fff;
    text-align: center;
    width: 700px;
}

.for-border{
    height: 1px;
    margin: 3px;
    background-color: black;
}

.for-underline{
    text-decoration: underline;
}

.for-form{
    text-align: left;
}

.for-everyline{
    display: flex;    
    justify-content: space-around;
    margin-top: 10px;
}

.for-left-heading{
    font-weight: 700;
    justify-content: left;
    width: 40%;
}

.for-right-side-answer{
    font-weight: 500;
    width: 40%;
    justify-content: right;
}

.for-sign-head{
    text-align: end;
    margin: 30px;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    margin-top: 70px;
    margin-right: 60px;
}

.for-bottom{
    display: flex;
    margin: 10px;
    text-align: left;
}